
.grid-container{
    display: grid;
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: 25% 50% 25% ;
    height: 100vh;  
    width: 100%; 
    box-shadow: 5px 3px 10px;
    font-family: 'Poppins', sans-serif;
    
}
.item3{
    color: black;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.item1{
    grid-area: 1/1/span 3/1;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
h1{
    padding-top: 200px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}
p{
    padding-left: 20px;
    padding-top: 0;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}
.item2{
    grid-area: 1/2/span 2/2;
    font-family: 'Poppins', sans-serif;
}

.item5{
    grid-area: 2/3/span 2 / 3;
    font-family: 'Poppins', sans-serif;
}
.item4{

    padding: 20px;
    font-family: 'Poppins', sans-serif;
    
}

.navbar ul{
    display: flex;
    justify-content: flex-start;
}
.navbar li{
    display: block;
}
.navbar ul a{
    text-decoration: none;
    color:white;
}
.para{
    padding-top: 190px;
    color: white;
    
}